<%= render '/refinery/blog/admin/submenu' %>
<%= render 'refinery/admin/search_header', :url => request.path %>
<%
 # fixme: hack :(
%>
<% self.class.send :include, Refinery::Blog::PostsHelper %>

<%= link_to 'tree view', url_with_updated_param(request.fullpath, 'view', 'tree') %>&nbsp;
<%= link_to 'sequential view', url_with_updated_param(request.fullpath, 'view', 'sequential') %>

<div id='records'>
  <% if @posts.any? %>
    <%= will_paginate @posts %>

    <%= render "sortable_list" %>

    <%= will_paginate @posts %>
  <% else %>
    <% if searching? %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.blog.admin.submenu.posts')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
