<%= render '/refinery/blog/admin/submenu' %>
<%= render 'refinery/admin/search_header', :url => request.path %>

<script type="text/javascript">
$(function() {
  $('.tree').on('click', '.toggle', function(e) {
    e.preventDefault();
    var $li   = $(this).parents('li:first');
    var $icon = $li.find('.icon.toggle');
    var $nested = $li.find('.nested');

    if ($icon.hasClass('expanded')) {
      $icon.removeClass('expanded');
      $nested.slideUp(); 
    }
    else {
      var contentUrl = $nested.data('ajax-content');
      $li.addClass('loading');
      
      $nested.load(contentUrl, function() {
        $nested.find('li:last').addClass('branch_end');
        $icon.addClass('expanded');
        init_tooltips();
        $nested.slideDown(); 
        $li.removeClass('loading');
      });
    }
  });
});
</script>


<section id='records' class='tree'>
  <ul id='sortable_list'>
  <% self.class.send :include, Refinery::Admin::PagesHelper %>
    <%= render :partial => 'page', :collection => Refinery::Page.all.to_a %>
  </ul>
</section>


<div id='records'>
  <% if @posts.any? %>
    <%= will_paginate @posts %>

    <%= render "sortable_list" %>


    <%= will_paginate @posts %>
  <% else %>
    <% if searching? %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.blog.admin.submenu.posts')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
